body{
background-color: rgb(226, 132, 206);
margin: 0px;
font-family: "Fuzzy Bubbles", sans-serif;
margin-bottom: 100px;
  }
  

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}


header {
    border-bottom: solid 2px rgb(42, 122 ,228);
    margin:20px;
}
section{ 
    padding-bottom: 80px;
    padding-top: 0px;
    display:flex;
    justify-content: center;
} a
.chamada-texto{ 
    margin-right: 5%;
    background: rgb(209, 135, 197);

}
h1  {  
  font-size: 40px;
    }
    p{  
      font-size: 20px;
 }

 img {  
  height: 200px;
   }


   .categoria-videos{   

    display: flex;
    overflow-x: auto;
    gap: 10px;
     }
h2{
text-align: center;


}
     .categoria{  
        background: rgb(2, 0, 5);
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
          padding-top: 20px;

       }


       .categoria-videos img {  
        opacity: o,5;
        height:200px ;
         }

         .categoria-videos img:hover {   
        opacity: 1,0;
        border: 20px solid rgb(228, 133, 215);
         }   

          .categoria h2 { 
            color: rgb(42, 122, 228);
          }
